.body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  background-color: yellow;
}

.cell {
  display: grid;
  place-content: center space-evenly;
  grid-template-rows: 1fr 3fr 1fr;
}
/*
.cell:nth-child(3) {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
*/