.wrapper {
  display: grid;
  width: 700px;
  height: 300px;
  grid-gap: 5px;
  grid-auto-rows: minmax(50px, auto);
  background-color: orange;
}

.head {
  display: grid;
  place-content: center space-evenly;
  grid-template-columns: 5fr 4fr 1fr;
}

.category:nth-child(1) {
  display: grid;
  place-content: center space-evenly;
  grid-template-columns: repeat(4, 1fr);
}
