.body {
  display: grid;
  width: 700px;
  height: 300px;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  grid-auto-rows: minmax(200px, auto);
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.box:nth-child(1) {
  display: grid;
  background-color: orange;
  text-align: center;
  margin: 5%;
  grid-template-rows: 8fr 1fr;
}

.box:nth-child(2) {
  display: grid;
  background-color: orange;
  text-align: center;
  margin: 5%;
  grid-template-rows: repeat(5, 1fr);
}

.cell:nth-child(1) {
  display: grid;
  text-align: center;
  align-self: center;
  grid-template-columns: repeat(3, 1fr);
}

.cell:nth-child(2) {
  display: grid;
  place-content: center;
  text-align: center;
  align-self: stretch;
}

.cell:nth-child(3) {
  display: grid;
  place-content: space-evenly;
  text-align: center;
  background-color: skyblue;
  grid-template-columns: repeat(4, 1fr);;
}

.cell:nth-child(4) {
  display: grid;
  place-content: space-evenly;
  text-align: center;
  background-color: skyblue;
  grid-template-columns: repeat(4, 1fr);
}

.cell:nth-child(5) {
  display: grid;
  place-content: center space-evenly;
  align-self: stretch;
  background-color: yellowgreen;
  grid-template-columns: repeat(2, 1fr);
}

#selected {
  background-color: #f44336;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
}

#unselected {
  background-color: #ffb5b0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 15px 25px;
}

#category_selected {
  background-color: #0095ff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
}

#category_unselected {
  background-color: #a1d8ff;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  padding: 10px 10px;
}